@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Libre+Franklin:wght@300;400;500&family=Prompt:wght@400;500;600;700;800;900&family=Source+Sans+Pro:wght@200;300;400&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
/* Fonts : Libre Franklin, Inter and source sans pro */
:root {
	--nav-size: 64px;
}
h1 {
	@apply text-3xl;
	color: white;
	font-family: "Inter";
	font-style: normal;
	font-weight: 600;
}
h2 {
	@apply text-2xl;
	color: white;
	font-family: "Libre Franklin";
	font-weight: 400;
}
h3 {
	@apply text-xl;
	color: white;
	font-weight: 300;
}
h4 {
	@apply text-lg;
	color: white;
	font-weight: 200;
}
p {
	font-family: "Source Sans Pro";
	color: white;
	font-weight: 100;
}

.nav-button {
	@apply text-white;
	font-family: "Libre Franklin";
	font-style: normal;
	font-weight: 400;
	font-size: 20px;
	line-height: 24px;
}
.btn-group,
.theme {
	justify-content: center;
	align-items: center;
	display: flex;
	gap: 1rem;
}
.nav-button {
	min-width: 20px;
}
.btn-group {
	/* margin-left: auto; */
	/* flex-grow: 1; */
	margin-right: 3rem;
}
.theme {
	margin-right: 1rem;
}
.search-bar {
	margin: 0 2.5rem;
	flex-grow: 1;
	position: relative;
	display: flex;
}
#search {
	@apply bg-gray-300;
	border-radius: 13px;
	min-width: 10rem;
	width: 100%;
	min-height: calc(var(--nav-size) - 30px);
	margin: auto 0;
	padding: 0 3rem 0 1rem;
}
.search-btn {
	@apply bg-blue-500;
	min-height: 30px;
	max-height: calc(var(--nav-size) - 30px);
	position: absolute;
	right: -1px;
	top: 0;
	bottom: 0;
	margin: auto 0;
	border-radius: 0px 13px 13px 0px;
	/* overflow: hidden; */
	padding: 0.5rem 1rem;
}
.search-btn img {
	display: block;
	object-fit: contain;
	max-height: 100%;
}

.page {
	@apply flex;
	min-height: calc(100vh - var(--nav-size));
}
.card {
	flex-grow: 1;
	min-height: 150px;
	min-width: 45%;
	box-shadow: 0px 0px 6px 6px #1e3a8a;
}
.nav {
	max-height: var(--nav-size);
	position: sticky;
	top: 0;
	z-index: 30;
}
.icon {
	@apply bg-blue-800;
	height: 100%;
	max-height: 50px;
	aspect-ratio: 1/1;
	justify-content: center;
	align-items: center;
	display: flex;
	border-radius: 50%;
}
.icon img {
	display: block;
}
.side {
	justify-content: flex-start !important;
}
.scan {
	width: 64px;
	height: 64px;
	z-index: 30;
	bottom: 2rem;
	right: 2rem;
}
.scan img {
	margin: auto;
}
.button {
	@apply bg-sky-800;
	@apply text-white;
	padding: 0.5rem 1rem;
	max-height: 64px;
	font-weight: 300;
	font-family: "Inter";
}

.dropdown {
	@apply bg-blue-700;
	padding: 1.5rem;
	display: flex;
	gap: 3rem;
	flex-direction: column;
	width: min(10rem, 100%);
	top: var(--nav-size);
	right: 5rem;
}
.float {
	font-family: "Inter";
	font-style: normal;
	@apply bg-slate-900;
	position: absolute;
	padding: 5px;
	top: -20px;
	left: 1rem;
	z-index: 1;
}

.group {
	@apply z-10 flex flex-wrap gap-4;
}
.group label {
	min-width: 120px;
	max-width: 120px;
	@apply text-white;
}
.group input,
.group select {
	@apply flex-grow bg-gray-300 p-1;
	border-radius: 6px;
}
.login-input {
	@apply flex-grow bg-gray-300 p-1;
	border-radius: 6px;
}
.red {
	@apply bg-red-500 !important;
}
.scan-btn {
	@apply z-20;
	@apply text-white;
	@apply bg-sky-800;
	border-radius: 0 6px 6px 0;
	position: absolute;
	max-height: 32px;
	min-height: 32px;
	padding: 0 1rem;
	right: 0;
	top: 0;
}
h4 {
	@apply text-white;
}

.info {
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	max-width: 100%;
	overflow: auto;
	flex-wrap: wrap;
}
.info h5 {
	@apply text-white;
	flex-grow: 1;
	max-width: calc(50vw - 5rem);
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.info h4 {
	min-width: 150px;
	max-width: 150px;
	overflow: hidden;
	/* font-weight: bold; */
}
.info h4::after {
	content: ":";
	max-width: 50px;
}
.total h4 {
	@apply text-xl;
}
.trash {
	fill: white;
}
.products {
	@apply overflow-auto;
	height: calc(100vh - 20rem - var(--nav-size));
}
.green {
	@apply bg-green-600 !important;
}
input[type="radio"][name="PaymentOption"] {
	display: none;
}
label[for="Installment"],
label[for="Cash"] {
	@apply bg-sky-800;
	padding: 5px 10px;
	border: 1px solid #e0e0e0;
	border-radius: 3px;
	max-width: 50%;
	text-align: center;
}
input[type="radio"][name="PaymentOption"]:checked + label {
	@apply bg-sky-900;
}
.checkout.group > label {
	max-width: 130px !important;
	min-width: 130px !important;
	margin: auto;
}
.customer:disabled {
	@apply opacity-50 !important;
}
h3.checkout {
	@apply bg-slate-700 !important;
}
span.checkout {
	width: 100%;
}

span.checkout h5 {
	flex-grow: 1;
	margin: auto;
	width: 8.5ch;
	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}
.group select {
	height: 32px;
}
.login-form label {
	@apply text-white;
}
.dashboard {
	/* max-height: calc(100vh - var(--nav-size)); */
}
